/* account review size
width: 200px;
height: 140px; */

.account-reviews {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 200px auto;
  gap: 30px;
  margin-top: 100px;
}

.account-reviews-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}