

.apt-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.details-review-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 56vw;
  justify-content: space-between;
  align-items: center;
}

.no-review-text {
  margin-top: 150px;
  padding: 20px;
}

.scroll-reviews {
  margin-top: 30px;
  margin-bottom: 5px;
  overflow-x: hidden;
}

.apt-details-wrapper h1 {
  font-size: 50px;
}

.apt-details-main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42vw;
}

.leave-review {
  justify-self: flex-end;
}

.form-inner-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #dff7e5;
  max-width: 780px;
  width: 780px;
  min-width: 370px;
  height: 300px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(101, 101, 101,0.19), 
  0 2px 2px rgba(101, 101, 101,0.16), 
  0 4px 4px rgba(101, 101, 101,0.13), 
  0 8px 8px rgba(101, 101, 101,0.10);
box-shadow: 0 1px 1px rgba(101, 101, 101,0.19), 
0 2px 2px rgba(101, 101, 101,0.16), 
0 4px 4px rgba(101, 101, 101,0.13), 
0 8px 8px rgba(101, 101, 101,0.10);
}

/* .pic-slider {
  width: 92%;
  height: 80%;
  background-color: #ffffff;

}

.slider-wrap {
  width: 41.5vw;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 8px;
  margin-top: 25px;
} */

.apt-details-form-nouser {
  height: 400px;
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(101, 101, 101,0.19), 
  0 2px 2px rgba(101, 101, 101,0.16), 
  0 4px 4px rgba(101, 101, 101,0.13), 
  0 8px 8px rgba(101, 101, 101,0.10);
box-shadow: 0 1px 1px rgba(101, 101, 101,0.19), 
0 2px 2px rgba(101, 101, 101,0.16), 
0 4px 4px rgba(101, 101, 101,0.13), 
0 8px 8px rgba(101, 101, 101,0.10);

  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.slider-form-div {
  display: grid;
  grid-template-rows: 22fr 1fr;
  height: 80vh;
} */

#login-leave-review {
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  color: rgb(68, 68, 68);
  border: 1px solid rgb(68, 68, 68);
  border-radius: 3px;
  font-size: 12px;
  background-color: #ffffff;
  cursor: pointer;
}

.recommend-form {
  margin-top: 15px;
  padding: 5px;
  width: 365px;
  display: flex;
}

#title-input {
  background: none;
  border: none;
  font-size: 15px;
  width: 100%;
  background-color: #ffffff;
  height: 30px;
  border-radius: 8px;
  padding: 4px;
}

 #description-input {
  background: none;
  border: none;
  font-size: 15px;
  width: 100%;
  height: 90px;
  margin-top: 27px;
  resize: none;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 4px; 
} 



.bed-bath-div {
  display: flex;
}

#bath {
  margin-right: 20px;
}


#apt-details-btn {
  margin-top: 20px;
  padding: 8px;
  color: #ffffff;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .6px;
  cursor: pointer;
  background-color: #008060;
  border: none;
  -webkit-box-shadow: 0 1px 1px rgba(101, 101, 101,0.25), 
                      0 2px 2px rgba(101, 101, 101,0.22), 
                      0 4px 4px rgba(101, 101, 101,0.19), 
                      0 8px 8px rgba(101, 101, 101,0.16);
  box-shadow: 0 1px 1px rgba(101, 101, 101, 0.25), 
            0 2px 2px rgba(101, 101, 101,0.22), 
            0 4px 4px rgba(101, 101, 101,0.19), 
            0 8px 8px rgba(101, 101, 101,0.16);
}

#apt-details-btn:hover {
  -webkit-box-shadow: 0 7px 7px -5px rgba(50,50,93,.25),0 5px 9px -5px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 6px 9px -3px rgba(50,50,93,.25),0 4px  8px -5px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-box-shadow: 0 4px 7px rgba(50,50,93,.1),0 2px 3px rgba(0,0,0,.08);
  box-shadow: 0 7px 9px rgba(0,0,0,);
}

#no-form {
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  font-size: 30px;
}

hr {
  width: 540px;
}


@media (max-width: 1000px) {
  .apt-details-wrapper {
    flex-direction: column;
  }
  .apt-details-form {
    width: 90vw;
  }
  .details-review-wrapper {
    width: 100%;
  }
  .scroll-reviews {
    margin: 5px;
    overflow-y: visible;
    overflow-x: visible;
  }
  hr {
    width: 355px;
  }
}

@media (max-width: 545px) {
  .form-inner-div {
    width: 85vw;
  }
  .no-review-text {
    font-size: 18px;
    text-align: center;
  }
}