
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
  /* background-color: #fbf7ed; */
  margin: 0;
  padding: 0px 0;
}

.home-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  background-position: 30% 15%;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1536376072261-38c75010e6c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
}


.home-hero h2 {
  letter-spacing: 1px;
  margin-top: 200px;
  font-size: 60px;
  color: #004c3f;
  font-weight: 300;
}

.home-hero h3 {
  font-size: 22px;
  margin-top: 20px;
  color: #906509;
  font-weight: 200;
  max-width: 500px;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.home-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
  font-size: 20px;
  padding: 10px;
}

.home-statement h2 {
  font-size: 22px;
}

.bar-horizontal-home-statement {
  height: 2px;
  width: 300px;
  background-color: #b8c4c2;
  margin: 0 auto;
  margin-top: 90px;
  align-self: center;
}

#apt-icon {
  width: 270px;
}

#interior-icon {
  width: 450px;
}

.icon-container {
 
}

#interior-icon-div {
  /* border-radius: 31% 69% 38% 62% / 38% 42% 58% 62%; */
  width: 330px;
  height: 270px;
  /* background-color: #effcfa; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

#apt-icon-div {
  /* border-radius: 75% 25% 70% 30% / 30% 30% 70% 70%; */
  width: 330px;
  height: 270px;
  /* background-color: #effcfa; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

#phone-icon {
  width: 400px;
}

#phone-icon-div {
  /* border-radius: 61% 39% 57% 43% / 40% 23% 77% 60%; */
  width: 330px;
  height: 270px;
  /* background-color: #effcfa; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 15px;
}

#apt-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#phone-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.text-wrap {
  width: 370px;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.text-wrap h3 {
  font-size: 18px;
}


@media (max-width: 545px) {
  #apt-wrap {
    flex-direction: column;
  }
  #phone-wrap {
    flex-direction: column-reverse;
  }
  .home-hero h2 {
    font-size: 50px;
    margin-left: 20px;
  }
}