@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');



.nav-container {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.nav-title {
  color: #004c3f;
  font-size: 40px;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.nav-links {
  color: #004c3f;
  background-color: #effcfa;
  padding: 7px 13px 7px 13px;
  border-radius: 3px;
  border: 1px solid #b8c4c2;
  font-size: 15px;
  cursor: pointer;
}

.log-btn {
  color: #004c3f;
  /* background-color: #effcfa;
  padding: 7px 13px 7px 13px;
  border-radius: 3px;
  border: 1px solid #b8c4c2; */
  border: none;
  background-color: inherit;
  font-size: 15px;
  cursor: pointer;
  
}


.nav-options {
  display: 'flex';
  align-items: 'center';
}

@media (max-width: 545px) {
  .nav-title {
    font-size: 30px;
  }
  .nav-links {
    margin: 5px;
  }
  .log-btn {
    margin-left: 35px;
    margin-top: 10px;
  }
}