@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');



.nav-container {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
}

.nav-title {
  color: #004c3f;
  font-size: 35px;
  margin-left: 10px;
}

.nav-links {
  color: #004c3f;
  background-color: #effcfa;
  padding: 7px 13px 7px 13px;
  border-radius: 3px;
  border: 1px solid #008060;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.log-btn {
  color: #004c3f;
  /* background-color: #effcfa;
  padding: 7px 13px 7px 13px;
  border-radius: 3px;
  border: 1px solid #b8c4c2; */
  border: none;
  background-color: inherit;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.hamburger-div {
  margin-right: 10px;
  align-self: center;
  display: flex;
  align-items: center;
}

#burger-menu-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  justify-content: space-around;
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 120px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0px 0px 2px 2px;
  -webkit-box-shadow: 0 8px 7px -7px rgb(154, 154, 154);
  -moz-box-shadow: 0 8px 7px -7px rgb(154, 154, 154);
       box-shadow: 0 8px 7px -7px rgb(154, 154, 154);
}

#dropdown-logout {
  border: none;
  background-color: inherit;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
}

@media (max-width: 545px) {
  .nav-title {

  }
  .nav-links {
    
  }
  .log-btn {
    margin-top: 10px;
  }
  
}